.git-wrapper {
  display: block;
  @media (min-width: 1301px) {
    margin: 150px 50px;
  }
  @media (min-width: 993px) and (max-width: 1300px) {
    margin: 150px 25px;
  }
  @media (max-width: 992px) {
    margin: 150px 20px;
  }
}

.git-page {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;

  @media (min-width: 1301px) {
    max-width: calc(100vw - 100px);
  }
  @media (min-width: 993px) and (max-width: 1300px) {
    max-width: calc(100vw - 50px);
  }
  @media (max-width: 992px) {
    max-width: calc(100vw - 40px);
  }
}

.heading-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.git-image {
  width: 50%;
  @media (max-width: 992px) {
    width: 100%;
  }
}

.cheatsheet-container {
  display: grid;
  gap: 50px;
  box-sizing: border-box;

  @media (min-width: 1301px) {
    grid-template-columns: repeat(3, calc((100vw - 200px) / 3));
    justify-content: center;
  }
  @media (min-width: 993px) and (max-width: 1300px) {
    grid-template-columns: repeat(2, calc((100vw - 100px) / 2));
    justify-content: center;
  }
  @media (max-width: 992px) {
    grid-template-columns: calc(100vw - 40px);
    justify-content: center;
  }
}

.command-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: calc((100% - 300px) / 3);
  background-color: rgb(15, 28, 34);
  padding: 20px;
  border-radius: 0.5rem;
}

.command-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: #15252c;
  padding: 15px 12px;

  > pre {
    padding: 0 !important;
    margin: 0 !important;
    background: none !important;
  }
}

.copy-button {
  background: #0f1c22;
  cursor: pointer;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: rgb(15, 28, 34) 0px 19px 16px;
}
